.shop {
  padding: 120px 0 105px;

  &__inner {
    display: flex;
  }

  &__filters {
    margin-right: 30px;
    width: 370px;
  }

  .filter {
    &__item {
      margin-bottom: 40px;
      padding: 35px 30px 40px;
      border: 1px solid #ececec;
    }

    &__title {
      margin-bottom: 25px;
      font-size: 22px;
      text-transform: uppercase;
      color: $title;

      @extend %roboto-400;
    }
  }

  .filter-search {
    &__form {
      display: flex;
    }

    &__input {
      padding: 0 5px 0 15px;
      width: 260px;
      height: 50px;
      border: none;
      background-color: $bg;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: none;
      text-align: center;
      background-color: $accent;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
  }

  .filter-price {
    &__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
    }

    &__btn {
      border: none;
      cursor: pointer;

      @extend %btn;
    }
  }
}

.irs--flat {
  height: 30px;
}

.irs--flat .irs-line {
  top: 13px;
  height: 5px;
  border-radius: 0;
  background-color: #ececec;
}

.irs--flat .irs-handle {
  top: 0;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 13px 0 rgba(90, 90, 90, 0.2);
  background-color: #fff;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 13px;
  height: 5px;
  background-color: $accent;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filter-color {
  &__label {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    cursor: pointer;

    & + .filter-color__label {
      padding-top: 20px;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__input {
    &:checked + .filter-color__checkbox {
      background-image: url("../images/icons/icon-done.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    @extend %checkbox-hidden;
  }

  &__checkbox {
    position: absolute;
    margin-top: 7px;
    margin-left: -16px;
    width: 16px;
    height: 16px;
  }

  &__checkbox--blue {
    background-color: #00aeef;
  }

  &__checkbox--red {
    background-color: #f52574;
  }

  &__checkbox--green {
    background-color: #24d4ac;
  }

  &__checkbox--orange {
    background-color: #ff7e00;
  }

  &__checkbox--black {
    background-color: #000;
  }

  &__checkbox--purple {
    background-color: #923899;
  }
}

.filter-size {
  &__input {
    @extend %checkbox-hidden;
  }

  &__checkbox {

  }
}
